{% extends "allauth/layouts/base.html" %}
{% block extra_head %}
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script>
        document.documentElement.setAttribute('data-bs-theme', 'dark');
    </script>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <style>
        iframe[src^="https://accounts.google.com"] {
            color-scheme: light !important;
        }
    </style>
{% endblock %}
{% block extra_body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div>
    {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}