{% if attrs.provider_id == "google" %}
<div id="g_id_onload"
     data-client_id="956920296212-dosa55m3dcpe6vvgocekv6ee138vm4gq.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8000"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_black"
     data-text="continue_with"
     data-size="large"
     data-logo_alignment="left">
</div>
{% else %}
<li>
    <a title="{{ attrs.name }}" href="{{ attrs.href }}">{{ attrs.name }}</a>
</li>
{% endif %}